<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;URL=http://blog.garstasio.com/you-dont-need-jquery">
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8" />-->
    <!--<title>{{ page.title }}</title>-->
    <!--<meta name="author" content="Ray Nicholus" />-->
    <!--<link rel="stylesheet" href="/css/markdown.css">-->
</head>
<body>

Redirecting to "You Don't Need jQuery"...
<!--<div class="site">-->

<!--    {{ content }}-->

<!--    <div class="footer">-->
<!--    </div>-->
<!--</div>-->

</body>
</html>
